:root {
    --principal: hsl(150, 46%, 37%);
    --verdao: #04574d;
    --verdinho: #9acfb7;
    --branco: #ebf0f1;
    --branquinho: #ebf0f14b;
    --destaque: #f58c95;
    --rosinha: #f0b6bc;
    --cinza: #586660;
    --cinzinha: #d3dadb;
  
    width: 100%;
    height: 100%;
    font-family: Poppins-regular, Roboto;
}
.form-control{
    background-color:#f0b6bc;
    font-family: "Poppins";
}
.nomeantes{
   
    color: #04574d;
    font-family: "Poppins";
}
   #quest{
    font-weight: 600;
    color: var(--principal);
    font-family: "Poppins";
   }

   body {
    background-color: var(--branco);
  }
  .gravar{
    background-color: #c2e2c4;
    color: #04574d;
    font-family: "Poppins";
    font-weight: bold;
  }
  .limpar{
    background-color: #f0d8d8;
    color: #04574d;
    font-family: "Poppins";
    font-weight: bold;
  }
