:root {
  --principal: hsl(150, 46%, 37%);
  --verdao: #04574d;
  --verdinho: #9acfb7;
  --branco: #ebf0f1;
  --branquinho: #ebf0f14b;
  --destaque: #f58c95;
  --rosinha: #f0b6bc;
  --rosinhasinha: #f1c3c7;
  --cinza: #586660;
  --cinzinha: #d3dadb;
  --vermelho: #c27e7e;

  width: 100%;
  height: 100%;

  font-family: Poppins-regular, Roboto;
}

@font-face {
  font-family: "Poppins";
  src: url("../fontes/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins-regular";
  src: url("../fontes/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-medium";
  src: url("../fontes/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-semibold";
  src: url("../fontes/Poppins-SemiBold.ttf");
}

.tituloPagina {
  font-weight: 600;
  color: var(--principal);
  font-family: "Poppins";
}

.nomeAtributo {
  font-weight: 700;
  color: var(--principal);
  font-family: "Poppins-semibold";
}

.dadoAtributo {
  font-weight: 500;
  color: var(--verdao);
  font-family: "Poppins-medium";
}

.atributoTabelaDisponivel {
  background-color: var(--verdinho); /* Definir a cor de fundo como rosinha */
  border-radius: 7px; /* Adicionar bordas arredondadas */
  color: var(--cinza);
  font-family: "Poppins-semibold";
}

.dadoTabelaDisponivel {
  /* Definir a cor de fundo como rosinha */
  border-radius: 7px; /* Adicionar bordas arredondadas */
  color: var(--cinza);
  font-family: "Poppins-medium";
}

.atributoTabelaAdicionada {
  background-color: var(
    --rosinhasinha
  ); /* Definir a cor de fundo como rosinha */
  border-radius: 7px; /* Adicionar bordas arredondadas */
  color: var(--cinza);
  font-family: "Poppins-semibold";
}

.dadoTabelaAdicionada {
  /* Definir a cor de fundo como rosinha */
  border-radius: 7px; /* Adicionar bordas arredondadas */
  color: var(--cinza);
  font-family: "Poppins-medium";
}
.table-bordered {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
/* Estilizar os campos de entrada */
.form-control {
  border-radius: 10px; /* Adicionar bordas arredondadas */
  background-color: var(
    --rosinhasinha
  ); /* Definir a cor de fundo como rosinha */
  color: var(--verdao); /* Definir cor do texto */
}

/* Estilizar as bordas quando os campos estão em foco */
.form-control:focus {
  border-color: var(--rosinha); /* Mudar a cor da borda quando em foco */
  box-shadow: 0 0 8px var(--rosinha); /* Adicionar sombra suave */
}
/* Estilizar os botões de rádio */
.form-group label[for="radComTempoSim"],
.form-group label[for="radComTempoNao"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; /* Adicionar espaçamento entre os botões de rádio e os rótulos */
}

.form-group input[type="radio"] {
  margin-right: 5px; /* Reduzir o espaçamento entre os botões de rádio */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--verdinho);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form-group input[type="radio"]:checked {
  background-color: var(--verdinho);
  border-color: var(--verdinho);
}

.botaoGravar {
  background-color: #c2e2c4;
  color: var(--verdao);
  font-family: "Poppins-semibold";
}

.botaoGravar:hover {
  background-color: var(--principal);
  /* Ou qualquer outra cor mais escura que você desejar */
  transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
}

.botaoLimpar {
  background-color: #f0d8d8;
  color: var(--verdao);
  font-family: "Poppins-semibold";
}

.botaoLimpar:hover {
  background-color: var(--rosinha);
  /* Ou qualquer outra cor mais escura que você desejar */
  transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
}

.botaoVoltar {
  background-color: var(--cinzinha);
  color: var(--verdao);
  font-family: "Poppins-semibold";
}

.botaoVoltar:hover {
  background-color: #9fb2b4;
  /* Ou qualquer outra cor mais escura que você desejar */
  transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
}

.asterisco {
  color: var(--vermelho);
}

.botaoExcluir {
  background-color: #f0d8d8;
  color: var(--verdao);
  border-radius: 7px; /* Adicionar bordas redondas */
  font-family: "Poppins-semibold";
  border: 1px solid var(--verdao); /* Adicionar borda verde escura */
}

.botaoExcluir:hover {
  background-color: var(--rosinha);
  /* Ou qualquer outra cor mais escura que você desejar */
  transform: scale(1.05); /* Aumenta um pouco o tamanho ao passar o mouse */
}

body {
  background-color: var(--branco);
}

.container {
  flex: 1; /* O conteúdo ocupa todo o espaço disponível, empurrando o footer para o final da página. */
  /* Seu estilo personalizado para a seção principal da página aqui. */
}

.footer {
  background-color: var(--verde);
  padding: 20px 0;
  color: var(--branco);
  text-align: center;
}
